body { 
  padding: 0; 
  margin: 0; 
} 
body a{ 
  text-decoration: none; 
} 
.container{ 
  width: 1296px; 
  margin: 0 auto; 
} 
@font-face { 
  font-family: dm-sans-regular; 
  src: url(./font/static/DMSans-Regular.ttf); 
} 
@font-face { 
  font-family: playfair-display-SemiBoldItalic; 
  src: url(./font/static-/PlayfairDisplay-SemiBoldItalic.ttf); 
} 
.m0{ 
 margin:0; 
} 
.top-bar{ 
  display: flex; 
  align-items: center; 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 45px; 
  background-color: #474747; 
} 
.top-bar a{ 
  font-family: dm-sans-regular; 
  color: white; 
} 
.top-bar .container{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
.info{ 
  display: flex; 
  justify-content: space-between; 
  gap: 25px; 
} 
.call{ 
  display: flex; 
  align-items: center; 
  gap: 10px; 
} 
.call img{ 
  width: 16px; 
  height: 16px; 
} 
.mail{ 
  display: flex; 
  align-items: center; 
  gap: 10px; 
} 
.mail img { 
  width: 19px; 
  height: 19px; 
} 
.social{ 
  display: flex; 
  align-items: center; 
  gap: 5px; 
} 
.social a{ 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 27.17px; 
  height: 27.17px; 
  background-color:  #f9f9f73a; 
  border-radius: 50%; 

} 
.twt{ 
  width: 10.84px; 
  height: 8.76px; 
} 
.fb { 
  width: 6.14px; 
  height: 11.81px; 
} 
.inst { 
  width: 13.15px; 
  height: 13.15px; 
} 
.git { 
  width: 12.58px; 
  height: 12.27px; 
} 
.navbar { 
  height: 100px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
.logo{ 
  display: flex; 
  text-decoration: none; 
  gap: 9px; 
  width: 280px; 
  align-items: center; 
  color: #474747; 
  font-family: playfair-display-SemiBoldItalic; 
  font-size: 42.67px; 
} 
.logo img { 
  width: 55.54px; 
  height: 53.66; 
} 
.nav-menu { 
  display: flex; 
  gap: 33px; 
  align-items: center; 
} 
.nav-menu  ul{ 
  display: flex; 
  gap: 33px; 
  align-items: center; 
} 
.nav-menu li{ 
  list-style: none; 
} 
.nav-menu li a{ 
  font-family: dm-sans-regular; 
 color: #2C2F24; 
}.btn{ 
  color: #182226; 
  border: 1px solid  #2C2F24; 
  padding:12px 24px; 
  border-radius:118px; 
  font-family: dm-sans-regular; 
  font-size: 16px; 
} 
.btn:hover{ 
  background-color: #AD343E; 
  color: white; 
  border: 1px solid  #AD343E; 
}

